<div class="container">
  <h1 class="text-center mb-5">Who Is Androklis?</h1>
  <div class="row align-items-center">
    <div class="col-lg-5 mb-4 mb-lg-0">
      <img src="assets/images/profile.jpg" class="img-fluid rounded shadow">
    </div>
    <div class="col-lg-7">
      <h2>A curious Full-Stack Developer.</h2>
      <p class="lead">
        I'm passionate about building things and seeing them come to life. For me, User Experience, clean code, and a clear purpose are paramount.
      </p>
      <p>
        I hold a BSc in Engineering Informatics from International Hellenic University, and a certificate in application development from COMCAVE.COLLEGE Stuttgart. Additionally, I have certifications from Udemy, including 'The Complete Web Developer Course,' 'Angular,' and 'ASP.NET Core REST API Real World Application.'
      </p>
      <p>
        I'm actively seeking new projects and am available for freelance work. Please feel free to reach out!
      </p>
    </div>
  </div>
</div>