<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <h1 class="mb-4">Get in touch</h1>
      <p class="lead mb-4">I'm currently available for freelance work. If you have a project you want to get started, think you need my help with something, or just want to say hi, then get in touch.</p>
      <div class="contact-info">
        <p><strong>Email:</strong> androparapo&commat;yahoo.com</p>
        <p><strong>LinkedIn:</strong> www.linkedin.com/in/androklis-paraponiaris-337421223</p>
        <p><strong>GitHub:</strong> https://github.com/Paraponiaris</p>
      </div>
    </div>
  </div>
</div>