<div class="container py-5">
  <h1 class="text-center mb-5">Codepulse a REST API Blog Post application</h1>
  
  <div class="row mb-5">
    <div class="col-lg-8 mx-auto">
      <p>
        Codepulse is a blog application that allows users with assigned roles to perform full CRUD operations on blogs and categories, including image uploads. I built this project while completing the 'REST API Real World Application' Udemy certification. My objective was to learn and master Angular and ASP.NET Core, aiming for excellence in developing full-stack web applications using these technologies.
      </p>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-lg-8 mx-auto">
      <h2 class="mb-4">Skills:</h2>
      <ul class="list-unstyled row">
        <li class="col-md-6 mb-2">Angular CLI</li>
        <li class="col-md-6 mb-2">Angular Components</li>
        <li class="col-md-6 mb-2">Angular Routing</li>
        <li class="col-md-6 mb-2">Angular Services</li>
        <li class="col-md-6 mb-2">HTTP calls</li>
        <li class="col-md-6 mb-2">CORS</li>
        <li class="col-md-6 mb-2">Bootstrap</li>
        <li class="col-md-6 mb-2">CSS</li>
        <li class="col-md-6 mb-2">Create reusable components</li>
        <li class="col-md-6 mb-2">CRUD operations</li>
        <li class="col-md-6 mb-2">Angular Forms</li>
        <li class="col-md-6 mb-2">Live Markdown</li>
        <li class="col-md-6 mb-2">Preview</li>
        <li class="col-md-6 mb-2">Markdown to HTML</li>
        <li class="col-md-6 mb-2">Angular Form Elements</li>
        <li class="col-md-6 mb-2">Authentication and Authorization</li>
        <li class="col-md-6 mb-2">JWT Tokens</li>
        <li class="col-md-6 mb-2">Storage Cookie Services</li>
        <li class="col-md-6 mb-2">Local Storage Interceptors</li>
        <li class="col-md-6 mb-2">Auth/Route Guards</li>
        <li class="col-md-6 mb-2">Image Upload in Angular applications</li>
        <li class="col-md-6 mb-2">Models and Interfaces</li>
        <li class="col-md-6 mb-2">C# Web APIs using ASPNET Core</li>
        <li class="col-md-6 mb-2">Use Swagger and Postman to test API data</li>
        <li class="col-md-6 mb-2">Role based Authorization</li>
        <li class="col-md-6 mb-2">RxJs Observables</li>
        <li class="col-md-6 mb-2">Subjects and Subscriptions</li>
      </ul>
    </div>
  </div>

  <div class="row g-4">
    <div class="col-md-6 col-lg-4" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]">
      <div class="card shadow">
        <img [src]="'assets/images/projects/codepulse/' + i + '.PNG'" class="card-img-top">
      </div>
    </div>
  </div>
</div>