<section id="home" class="py-5 min-vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 text-center">
        <h1 class="display-4 fw-bold mb-4">Hi, I'm Androklis a Web Developer</h1>
        <div class="social-icons mt-4">
          <a href="https://github.com/Paraponiaris" target="_blank" class="mx-2">
            <img src="assets/images/github-logo.png" width="40">
          </a>
          <a href="https://www.linkedin.com/in/androklis-paraponiaris-337421223" target="_blank" class="mx-2">
            <img src="assets/images/linkedin-logo.png"  width="40">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="py-5">
  <app-about></app-about>
</section>

<section id="skills" class="py-5 bg-light">
  <app-skills></app-skills>
</section>

<section id="work" class="py-5">
  <app-projects></app-projects>
</section>

<section id="contact" class="py-5 bg-light">
  <app-contact></app-contact>
</section>