<div class="container py-5">
  <h1 class="text-center mb-5">ToDo List is a simple Angular App</h1>
  
  <div class="row mb-5">
    <div class="col-lg-8 mx-auto">
      <p>
        This is a simple Angular app I created for practice.
      </p>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-lg-8 mx-auto">
      <h2 class="mb-4">Skills:</h2>
      <p>Angular HTML5 CSS3 Bootstrap Typescript</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <img src="assets/images/projects/todo-list/1.PNG" class="card-img-top">
      </div>
    </div>
  </div>
</div>